@media(max-width: 1024px) {

    /* main content */

    /* containers */
    .container h1 {
        font-size: 350%;
    }
}

@media(max-width: 768px) {

    /* background clouds */

    #cloud1 {
        animation-duration: 9s;
    }
    #cloud2 {
        animation-duration: 5s;
    }
    #cloud3 {
        animation-duration: 3s;
    }
    #cloud4 {
        animation-duration: 12s;
    }
    #cloud5 {
        animation-duration: 15s;
    }
    #cloud6 {
        animation-duration: 16s;
    }
    #cloud7 {
        animation-duration: 10s;
    }

    /* contact bar */

    .contact-bar {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        /* background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        justify-content: center; */
    }

    .contact-button {
        width: 1.5rem;
        border-radius: 0;
    }

    .contact-button img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 0;
    }

    .contact-button:hover {
        border-radius: 0;
        width: 1.5rem !important;
        height: 1.5rem !important;
        padding: 0rem;
        border: 0px solid #FFF;
        background-color: rgba(0, 0, 0, 0);
    }

    .contact-button:hover img {
        transform: rotate(0deg);
    }

    .contact-button:hover p {
        display: none;
    }

    /* navbar */

    .navbar {
        position: fixed;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        flex-direction: row;
        direction: ltr;
        /* background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        justify-content: center; */
    }

    .nav-button {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0;
    }

    .nav-button img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 0;
    }

    .nav-button:hover {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0;
        padding: 0rem;
        border: 0px solid #FFF;
        background-color: rgba(0, 0, 0, 0);
    }

    .nav-layover {
        display: none;
        width: 0;
        height: 0;
    }

    /* main content */

    /* containers */
    .container {
        width: 95%;
    }

    .container h1 {
        font-size: 300%;
    }

    /* home-div */

    /* image on home-div */
    #home-div img {
        width: 15rem;
        height: 15rem;
    }

    /* concentric circles behind image in home-div */

    #c1 {
        animation: a1_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    #c2 {
        animation: a2_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    #c3 {
        animation: a3_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    #c4 {
        animation: a4_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    #c5 {
        animation: a5_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    #c6 {
        animation: a6_small 10s cubic-bezier(.8, 0, .2, 1) infinite;
    }

    /* Name below image */
    .name-div {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 5rem;
        display: flex;
        /* flex-direction: column; */
    }

    .name-div:hover {
        cursor: default;
    }

    .name {
        font-size: 250%;
    }

    .name:hover {
        font-size: 300%;
    }

    /* about-div */

    .content {
        width: 90%;
        height: auto;
        top: 55%;
        padding: 0.5rem;
    }

    .content p {
        font-size: x-large;
        text-align: center;
    }
}

@media(max-width: 500px) {

    #cloud1 {
        animation-duration: 4s;
    }
    #cloud2 {
        animation-duration: 5s;
    }
    #cloud3 {
        animation-duration: 1.5s;
    }
    #cloud4 {
        animation-duration: 6s;
    }
    #cloud5 {
        animation-duration: 7s;
    }
    #cloud6 {
        animation-duration: 8s;
    }
    #cloud7 {
        animation-duration: 4s;
    }


    .container h1 {
        font-size: 200%;
        top: 10%;
    }

    /* about-div */

    .content {
        top: 55%;
        padding: 0.25rem;
    }

    .content p {
        font-size: medium;
    }

    /* projects-div */

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 55%;
    }

    .card {
        width: 10rem;
        height: 5rem;
    }

    .card h3 {
        font-size: medium;
        transition: all 0.5s linear;
    }

    .card:hover {
        width: 20rem;
        height: 25rem;
    }

    .card:hover .info {
        width: 90%;
        height: 70%;
        top: 20%;
        font-size: x-small;
    }

    .not-in-focus {
        height: 1.5rem;
    }
    .not-in-focus h3 {
        font-size: x-small;
        margin: 0.3rem 0;
    }
    .not-in-focus #prog-lang-h3 {
        font-size: xx-small;
    }
}

@media(max-width: 400px) {

    .content {
        top: 55%;
    }

    .content p {
        font-size: small;
        line-height: 2.5rem;
    }

    .card:hover {
        width: 16rem;
        height: 22rem;
    }
}
@media(max-width: 350px) {

    .contact-button {
        width: 1.25rem;
    }

    .contact-button img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .nav-button {
        width: 1.25rem;
        height: 1.25rem;
    }

    .nav-button img {
        height: 1.25rem;
        width: 1.25rem;
    }

    .container h1 {
        font-size: 150%;
    }

    .card:hover {
        width: 14rem;
        height: 18rem;
    }

    .name {
        font-size: 200%;
    }

    .name:hover {
        font-size: 250%;
    }
}