@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html, body
{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  /* background: repeating-linear-gradient(135deg, #9CE2C0, #9CE2C0 5px, #D5F7E8 5px, #D5F7E8 11.8px); */

  /* background-image: url("../img/bg.jpg"); */
}

#name
{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem !important;
  padding: 0.5rem 1rem !important;
}

.navitems
{
  margin: auto;
}

.navbar
{
  padding: 0.8rem;
  z-index: 24;
}

.navbar-nav li
{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link
{
  font-size: 1.1em;
}

#ev
{
  transform: scaleY(-1);
}

.carousel-inner img
{
  width: 100%;
  height: 100%;
}

#cntr
{
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}

.carousel-caption h1
{
  font-size: 500%;
  text-shadow: 1px 1px 15px #000000;
  position: relative !important;
}

.carousel-caption h3
{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000000;
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel-caption img
{
  width: 40%;
  height: 40%;
  object-fit: cover;
}

#js_icon {
  width: 1rem;
  height: 1rem;
}

#projects
{
  position: relative;
}

.overlay
{
  color:#fff;
  /* background-color: #000000; */
  position: absolute;
  z-index:12;
  /* top:50%; */
  margin-top: 2rem;
  bottom: auto;
  left:0;
  width:100%;
  text-align:center;
}

.padding
{
  padding-bottom: 2rem;
}

.icdiv
{
  margin: auto;
  text-align: center;
  justify-content: center;
}

.fa-code, .bi-bootstrap, .fa-css3
{
  font-size: 2em;
  margin: 1em;
}

.social a
{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-linkedin
{
  color: #2867B2;
}
.fa-at
{
  color: #800000;
}
.fa-github
{
  color: #211f1f;
}

.fa-linkedin:hover, .fa-at:hover, .fa-github:hover
{
  color: #d5d5d5;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a
  {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #name
  {
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem !important;
    padding: 0.1rem 0.5rem !important;
  }

  .navbar-nav li
  {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .nav-link
  {
    font-size: 0.7em;
  }

  #cntr
  {
    /* position: absolute; */
    top: 50%;
    /* transform: translateY(-50%); */
  }

  #cntr h1
  {
    font-size: 100%;
  }
  #cntr h3
  {
    font-size: 65%;
  }

  #Projects h1
  {
    font-size: 100%;
    margin-top: -1rem;
  }

  #prc h3
  {
    font-size: 50%;
  }

  .fa-code, .bi-bootstrap, .fa-css3
  {
    font-size: 0.5rem;
    margin: 0.5rem;
  }
  
  #Contact h2, #Contact a
  {
    font-size: 150%;
  }
}
@media (max-width: 576px) {
  
  .carousel-caption img
  {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 42%;
    object-fit: cover;
  }

  .carousel-caption
  {
    top: 40%;
  }
  
  .carousel-caption h1
  {
    font-size: 250%;
    /* text-transform: uppercase;
    text-shadow: 1px 1px 15px #000000; */
  }
  
  .carousel-caption h3
  {
    font-size: 105%;
  }
  
  .carousel-caption .btn
  {
    font-size: 90%;
    padding: 4px 8px;
  }
  
  .carousel-indicators
  {
    display: none;
  }
  
  .display-4
  {
    font-size: 160%;
  }
  
  #Contact h2, #Contact a
  {
    font-size: 100%;
  }
}

@media (max-width: 400px)
{
  .carousel-caption img
  {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    object-fit: cover;
  }

  .carousel-caption .fa-github
  {
    font-size: xx-small;
  }

  .btn-lg
  {
    font-size: x-small;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








