@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.background {
    width: 100vw;
    height: 100vh;
    background-size: 200% 200%;
    background-image: linear-gradient(-45deg, rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
    animation: gradient 10s ease-in-out infinite;
    position: fixed;
    overflow: hidden;
    z-index: -100;
}

/* the left bar */
.contact-bar {
    position: fixed;
    top: 50%;
    /* left: 5%; */
    transform: translateY(-50%);
    z-index: 100;
}

.contact-button {
    z-index: 100;
    display: flex;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.25s ease-in;
    margin: 1rem;
}
.contact-button:hover {
    cursor: pointer;
    padding: 0.15rem;
    border-radius: 25px;
    background-color: #EEE;
    color: #212121;
    border: 0.05rem solid #000;
}

#github:hover {
    width: 4.5rem;
}
#linkedin:hover {
    width: 5rem;
    /* NICE */
}
#mail:hover {
    width: 4.25rem;
}
#facebook:hover {
    width: 5.5rem;
}
#resume:hover {
    width: 5rem;
}

.contact-button img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    transition: all 0.25s linear;
}

.contact-button p {
    display: none;
    margin: auto 0.25rem;
    font-size: x-small;    
}
.contact-button:hover p {
    display: flex;
}
.contact-button:hover img {
    transform: rotate(360deg);
}

/* the right bar */

.navbar {
    position: fixed;
    bottom: 50%;
    right: 0;
    transform: translateY(50%);
    z-index: 100;
}

.nav-button {
    z-index: 100;
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

.nav-button img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    display: flex;
    transition: all 0.25s linear;
}

.nav-button:hover {
    cursor: pointer;
    padding: 0.15rem;
    border-radius: 25px;
    background-color: #EEE;
    color: #212121;
    border: 0.05rem solid #000;
}

.nav-layover {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    bottom: inherit;
    transform: translateY(50%);
    left: inherit;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.nav-layover h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#home:hover ~ #home-overlay {
    opacity: 1;
    /* pointer-events: none; */
}
#about:hover ~ #about-overlay {
    opacity: 1;
    /* pointer-events: none; */
}
#projects:hover ~ #projects-overlay {
    opacity: 1;
    /* pointer-events: none; */
}
#skills:hover ~ #skills-overlay {
    opacity: 1;
    /* pointer-events: none; */
}
#contact:hover ~ #contact-overlay {
    opacity: 1;
    /* pointer-events: none; */
}

/* main-content */

/* the containers of different parts */
.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    z-index: 55;
    position: relative;
    /* border-top: 1px solid #000; */
}
.container h1 {
    font-size: 350%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

/* home-div */

/* image on home-div */
#home-div img {
    position: absolute;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 57;
}

/* concentric circles behind image in home-div */
.float {
    border-radius: 50%;
    opacity: 0.1;
    position: absolute;
    background-color: #FFF;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#c1 {
    animation: a1 10s cubic-bezier(.8, 0, .2, 1) infinite;
}
#c2 {
    animation: a2 10s cubic-bezier(.8, 0, .2, 1) infinite;
}
#c3 {
    animation: a3 10s cubic-bezier(.8, 0, .2, 1) infinite;
}
#c4 {
    animation: a4 10s cubic-bezier(.8, 0, .2, 1) infinite;
}
#c5 {
    animation: a5 10s cubic-bezier(.8, 0, .2, 1) infinite;
}
#c6 {
    animation: a6 10s cubic-bezier(.8, 0, .2, 1) infinite;
}

/* Name below image */
.name-div {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    display: flex;
    /* flex-direction: column; */
}

.name-div:hover {
    cursor: default;
}

.name {
    transition: all 0.2s ease-in-out;
    align-items: center;
    margin: auto 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 400%;
    color: #212121;
}

.name:hover {
    color: #EEE;
    background-image: linear-gradient();
    font-size: 450%;
    cursor: default;
    animation: name-anim 0.2s ease-in-out 1;
}

#T {
    margin-right: 0.5rem;
}
#A2 {
    margin-left: -0.3rem;
}

/* about-div */

.content {
    position: absolute;
    width: 85%;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.content p {
    font-size: large;
    text-align: justify;
    line-height: 3.5rem;
    cursor: default;
    /* color: #FFF ; */
}

/* projects-div */

.cards {
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    /* border: 1px solid #000; */
    background-color: #212121;
    transition: all 0.5s ease-in-out;
    width: 7.5rem;
    height: 7.5rem;
    margin: 0.25rem 0.25rem;
    position: relative;
    color: #EEE;
    box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.3);
}

.card h3 {
    pointer-events: none;
    text-align: center;
    vertical-align: center;
    font-size: 100%;
    font-weight: 400;
}

.card .info {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    overflow: hidden;
    font-size: 0;
    color: #212121;
    text-align: justify;
    height: 70%;
}

.card .info img {
    width: 0;
    height: 0;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.card .info .buttons {
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.card .info .button {
    width: 20px;
    height: 20px;
    margin: 0 1rem;
}
.card .info .button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* .card {
    background-color: #EEE;
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: none;
    
} */

.card:hover {
    /* border-radius: 0.25rem; */
    box-shadow: inset;
    width: 22.5rem;
    height: 27.5rem;
    background-image: none;
    background-color: #EEE;
    color: #212121;
    border: 0px;
    box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

.card:hover .info {
    width: 90%;
    height: 80%;
    font-size: small;
}

.card:hover img {
    width: 100%;
    height: 40%;
    transition: all 0.5s ease-in-out;
}

.card .info .button {
    pointer-events: all;
}

.horizontal {
    height: 27.5rem;
}
.vertical {
    width: 22.5rem;
}



/* skills-div */

/* .skill-card {
    height: 5rem;
} */

.skill-card .info{
    top: 25%;
    height: 65%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

/* .skill-card:hover {
    width: 20rem;
    height: 15rem;
} */

.skill-card:hover .info {
    width: 90%;
    height: 70%;
    font-size: small;
}

.skill-card:hover img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    justify-self: center;
}

.skill-card .info .item {
    text-align: center;
}

#web-dev .info {
    grid-template-columns: auto auto auto;
}
#ml .info {
    grid-template-columns: auto;
}